:root {
    --fontAlegreya: "Alegreya Sans SC", Arial, sans-serif;
    --fontYanone: "Yanone Kaffeesatz", sans-serif, arial;
    --fontRoboto: "Roboto", sans-serif, arial;
    --orange: #ffc92f;
    --gray: #e0d9c8;
    --gray2: #e4ddcc;
    --gray3: #cac3b3;
    --gray4: #e5dece;
    --gray5: #f6efe0;
    --gray6: #737373;
    --black: #1b1b1b;
    --black2: #212121;
    --black3: #2f2c25;
    --black4: #232323;
    --black5: #000;
    --green: #529029;
    --blue: #39498d;
    --red: #d82727;
    --white: #fff;
}

.wrapper {
    min-width: 1300px;
}

.hero {
    min-height: 180px;
    height: 180px;
    overflow: hidden;
    margin-bottom: 90px;
}

.fade-slider__item {
    background: url(./../img/web-ready/decor/header-guys.png) center center /
        contain no-repeat;
    height: 224%;
    width: 100%;
    position: absolute;
    top: -52px;
}

.fade-slider__text {
    left: 51%;
    top: 43%;
}

.lined-text {
    font-size: 31px;
    font-family: var(--fontAlegreya);
}

.lined-text__word {
    padding: 0 6px 5px;
    margin-top: -4px;
}

.product {
    display: flex;
    justify-content: center;
    height: 670px;
    margin-bottom: 95px;
}

.product__view {
    width: 537px;
    background: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__text {
    border-top: var(--orange) 10px solid;
    border-right: var(--orange) 10px solid;
    border-bottom: var(--orange) 10px solid;
}

.product__hero {
    padding: 21px 275px 26px 28px;
    border-bottom: var(--gray) 1px solid;
}

.product__manufacturer {
    color: var(--orange);
    font-size: 17px;
    font-family: var(--fontRoboto);
    font-weight: bold;
}

.product__title {
    color: var(--black);
    text-transform: uppercase;
    font-size: 47px;
    font-family: var(--fontYanone);
    font-weight: bold;
    margin: 0;
    margin-top: -6px;
    margin-bottom: 2px;
    height: 60px;
}

.product__price-amount {
    color: var(--black);
    background: var(--orange);
    display: inline-block;
    padding: 0 15px;
    font-family: var(--fontYanone);
    font-weight: bold;
    font-size: 40px;
    height: 50px;
}

.product__desc {
    padding: 22px 340px 27px 28px;
    border-bottom: var(--gray) 1px solid;
}

.product__item {
    font-family: var(--fontRoboto);
    font-size: 13px;
    font-weight: 400;
    color: var(--black);
    margin-bottom: 14px;
}

.product__item:last-child {
    margin: 0;
}

.product__choice {
    padding: 28px 80px 28px 28px;
}

.menu-size {
    display: flex;
    justify-content: space-between;
}

.menu-size__link {
    display: flex;
    height: 45px;
    width: 45px;
    border: var(--gray2) 2px solid;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.menu-size__link--active {
    border-color: transparent;
    background: var(--orange);
}

.menu-size__text {
    color: var(--black2);
    text-transform: uppercase;
    font-family: var(--fontRoboto);
    font-size: 15px;
    font-weight: bold;
    display: block;
}

.menu-size__link--cannot .menu-size__text {
    color: var(--gray3);
}

.menu-color {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.menu-color__item {
    height: 29px;
    width: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent 4px solid;
    border-radius: 50%;
}

.menu-color__item:last-child {
    margin-right: 245px;
}

.menu-color__item--active {
    border-color: var(--orange);
}

.menu-color__link {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: block;
    border: transparent 2px solid;
}

.menu-color__link--black {
    background: var(--black3);
}

.menu-color__link--white {
    border-color: var(--gray);
}

.menu-color__link--green {
    background: var(--green);
}

.menu-color__link--blue {
    background: var(--blue);
}

.menu-color__link--red {
    background: var(--red);
}

.btn__link {
    height: 45px;
    width: 210px;
    margin-top: 27px;
    padding-top: 5px;
    background: var(--black4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn__text {
    font-family: var(--fontYanone);
    font-size: 28px;
    font-weight: bold;
    color: var(--orange);
    text-transform: uppercase;
}

.menu__list {
    width: 695px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}

.menu__item {
    display: flex;
    align-items: center;
}

.menu__link {
    font-size: 22px;
    font-family: var(--fontYanone);
    font-weight: bold;
    color: var(--black);
    height: 34px;
    padding: 6px 20px 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__link--active {
    color: var(--orange);
    background: var(--black);
}

.about-product__list {
    position: relative;
}

.about-product__item {
    display: flex;
    margin-top: 70px;
    border: var(--orange) 10px solid;
    width: 1080px;
}

.about-product__item--style-desc {
    height: 277px;
}

.about-product__how-wash {
    border-right: var(--gray4) 1px solid;
}

.how-wash__list {
    margin: 43px 41px 45px 0;
}

.how-wash__item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.how-wash__item:last-child {
    margin: 0;
}

.item__ico--style-wash1 {
    width: 24px;
    height: 17px;
    margin-left: 34px;
    margin-right: 26px;
    display: block;
}

.item__ico--style-wash2 {
    width: 24px;
    height: 23px;
    margin-left: 34px;
    margin-right: 26px;
    display: block;
}

.item__ico--style-wash3 {
    width: 26px;
    height: 13px;
    margin-left: 33px;
    margin-right: 25px;
    display: block;
}

.item__ico--style-wash4 {
    width: 24px;
    height: 23px;
    margin-left: 34px;
    margin-right: 26px;
    display: block;
}

.item__ico--style-wash5 {
    width: 24px;
    height: 23px;
    margin-left: 34px;
    margin-right: 26px;
    display: block;
}

.item__text {
    font-family: var(--fontRoboto);
    font-size: 13px;
    font-weight: 400;
}

.about-product__desc {
    margin: 45px 0 0 47px;
}

.desc__text {
    width: 605px;
    font-family: var(--fontRoboto);
    font-size: 13px;
    font-weight: 400;
}

.about-product__item--style-size-table {
    height: 432px;
}

.item__manual {
    width: 337px;
}

.manual__img {
    margin-top: 44px;
    margin-left: 52px;
    margin-right: 57px;
    margin-bottom: 44px;
}

.manual__item {
    list-style: lower;
    margin-left: 61px;
    padding-left: 10px;
    margin-bottom: 6px;
    font-family: var(--fontRoboto);
    font-size: 12px;
    font-weight: 400;
    color: var(--black);
}

.manual__item:last-child {
    margin-bottom: 0;
}

.size-table__list {
    display: flex;
    flex-wrap: wrap;
}

.size-table__item {
    width: 73px;
    height: 44px;
    padding-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: var(--gray4) 1px solid;
    border-bottom: var(--gray4) 1px solid;
    box-sizing: border-box;
}

.size-table__item--big-width {
    width: 160px;
    justify-content: flex-start;
    padding-left: 16px;
}

.size-table__item--style-title {
    height: 61px;
    background: var(--gray5);
}

.size-table__item:nth-child(n + 73) {
    border-bottom: transparent 1px solid;
    height: 47px;
}

.size-table__text {
    font-family: var(--fontRoboto);
    font-size: 12px;
    font-weight: 400;
    color: var(--black);
}

.size-table__item--style-title .size-table__text {
    font-weight: bold;
    font-size: 14px;
}

.about-product__item--style-delivery {
    height: 239px;
}

.delivery__logo {
    border-right: var(--gray4) 1px solid;
}

.delivery__img {
    margin: 41px 94px 45px 75px;
}

.delivery__text {
    font-family: var(--fontRoboto);
    font-weight: 400;
    font-size: 14px;
    margin: 0px 0px 8px 47px;
    color: var(--black);
}

.delivery__text:first-child {
    margin-top: 45px;
}

.about-product__item--style-about-manufacturer {
    height: 239px;
}

.about-manufacturer__logo {
    border-right: var(--gray4) 1px solid;
}

.about-manufacturer__img {
    margin: 56px 54px 0 59px;
}

.about-manufacturer__text {
    margin: 42px 0 0 47px;
    font-family: var(--fontRoboto);
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
}

.site-menu__title {
    margin-top: 80px;
}

@media (hover: hover) {
    .btn__link:hover .btn__text {
        color: var(--white);
    }
    .btn__link:hover {
        background: var(--red);
    }
    .menu__link:hover {
        color: var(--red);
    }
    .menu-color__item:hover {
        border-color: var(--red);
    }
    .menu-size__link:hover {
        border-color: transparent;
        background: var(--red);
    }
    .menu-size__link:hover .menu-size__text {
        color: var(--white);
    }
    .menu-size__link--cannot:hover {
        border-color: var(--gray2);
        background: transparent;
    }
    .menu-size__link--cannot:hover .menu-size__text {
        color: var(--gray3);
    }
    .site-menu__link:hover {
        color: var(--red);
    }
    .socials__link:hover .socials__icons {
        fill: var(--red);
    }
}

@media (hover: none) {
    .btn__link:active .btn__text {
        color: var(--white);
    }
    .btn__link:active {
        background: var(--red);
    }
    .menu__link:active {
        color: var(--red);
    }
    .menu-size__link:active {
        border-color: transparent;
        background: var(--red);
    }
    .menu-size__link--cannot:active {
        border-color: var(--gray2);
        background: transparent;
    }
    .menu-color__item:active {
        border-color: var(--red);
    }
    .menu-size__link:active .menu-size__text {
        color: var(--white);
    }
    .menu-size__link--cannot:active .menu-size__text {
        color: var(--gray3);
    }
    .site-menu__link:hover {
        color: var(--gray6);
    }
    .site-menu__link:active {
        color: var(--red);
    }
    .socials__link:hover .socials__icons {
        fill: var(--black5);
    }
    .socials__link:active .socials__icons {
        fill: var(--red);
    }
}
